html,
body {
  height: 100%;
  background: rgb(25, 25, 26);
}

body {
  margin: 100;
}

@font-face {
  font-family: CocogooseNormal;
  src: url(CocogooseNormal.ttf);
}

@font-face {
  font-family: Caviar;
  src: url(caviar_dreams/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: CocogooseThin;
  src: url(CocogooseThin.ttf);
}

@font-face {
  font-family: CocogooseSemilight;
  src: url(CocogooseSemilight.ttf);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

textarea {
  resize: none;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.text-boxes {
  margin: 2.5px;
  height: 57px;
  width: 47px;
  text-align: center;
  outline: 10px;
  padding: 0 5px;
  background-color: rgb(25, 25, 26);
  font-size: 40px;
  font-family: Caviar;
  border: 2px solid rgb(61, 61, 62);
  color: white;
}

.text-cor {
  margin: 2.5px;
  height: 57px;
  width: 47px;
  text-align: center;
  outline: 10px;
  padding: 0 5px;
  background-color: rgb(107, 160, 77);
  font-size: 40px;
  font-family: Caviar;
  border: 2px solid rgb(107, 160, 77);
  color: white;
}

.text-blank {
  margin: 2.5px;
  height: 57px;
  width: 47px;
  text-align: center;
  outline: 10px;
  padding: 0 5px;
  background-color: rgb(61, 61, 62);
  font-size: 40px;
  font-family: Caviar;
  border: 2px solid rgb(61, 61, 62);
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container2 {
  height: 100vh;
  display: flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container3 {
  height: 100vh;
  display: flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.text {
  text-align: center;
  border-radius: 25px;
  width: 125px;
  height: 50px;
  background-color: white;
  border: 3px solid white;
  font-size: 200%;
  font-family: Caviar;
}

.box {
  border-radius: 25px;
  padding: 20px;
  width: 125px;
  height: 10px;
  background-color: white;
}

.frequency {
  color: white;
  font-family: CocogooseNormal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

body {
  margin: 0px;
}

h1 {
  color: white;
  transition: color 0.5s ease;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  outline: 0;
  border: 0px;
  color: white;
  font-family: Caviar;
  font-size: 25px;
  border-style: solid;
}

.keys {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  border-color: rgb(153, 150, 150);
  color: white;
  font-size: 1rem;
  background-color: rgb(153, 150, 150);
}

.keysEasy {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  outline: solid 3.5px white;
  color: white;
  font-size: 1rem;
  background-color: rgb(150, 153, 151);
}

.keysDisable {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 1rem;
  background-color: rgb(87, 83, 83);
}

.keys-MiddleC {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 1rem;
  background-color: sandybrown;
}

.keys-MiddleCEasy {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  color: white;
  outline: solid 3.5px white;
  border-style: solid;
  font-size: 1rem;
  background-color: sandybrown;
}

.playC {
  color: white;
  font-family: CocogooseSemilight;
  background-color: rgb(25, 25, 26);
  font-size: 1.3rem;
  float: right;
}

#leftbox {
  float: left;
  background: rgb(25, 25, 26);
  width: 30%;
  height: 70px;
}
#middlebox {
  float: left;
  background: rgb(25, 25, 26);
  width: 40%;
  height: 70px;
}
#topbox {
  float: left;
  background: rgb(25, 25, 26);
  width: 100%;
  height: 15px;
}
#rightbox {
  float: right;
  background: rgb(25, 25, 26);
  width: 30%;
  height: 70px;
}
#underbox {
  float: right;
  background: rgb(25, 25, 26);
  width: 25%;
  height: 30px;
}
#break {
  float: left;
  background: rgb(25, 25, 26);
  width: 100%;
  height: 20px;
}
#break2 {
  float: left;
  background: rgb(25, 25, 26);
  width: 100%;
  height: 20px;
}
#enter {
  float: right;
  background: rgb(25, 25, 26);
  width: 35%;
  height: 70px;
}

#play {
  float: left;
  background: rgb(25, 25, 26);
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: top;
  align-items: top;
}

#backspace {
  float: left;
  background: rgb(25, 25, 26);
  width: 35%;
  height: 70px;
}

div.parentElement {
  text-align: left;
}

.delete {
  width: 100px;
  height: 50px;
  float: right;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(61, 61, 62);
}

.enter {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(61, 61, 62);
}

.play {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(61, 61, 62);
}

.copy {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(25, 25, 26);
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 2px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-family: CocogooseNormal;
  background-color: rgb(61, 61, 62);
}

.header {
  font-size: 40px;
  color: white;
  font-family: CocogooseSemilight;
}

input {
  margin: 2.5px;
  border-radius: 2px;
  height: 57px;
  width: 47px;
  text-align: center;
  outline: 5px;
  padding: 0 5px;
  background-color: rgb(25, 25, 26);
  font-size: 40px;
  font-family: Caviar;
  border-color: rgb(61, 61, 62);
  border-style: solid;
  color: white;
}

.input-group {
  display: flex;
}

.bg {
  color: white;
  background: rgb(25, 25, 26);
}

.bgWhite {
  background-color: rgb(25, 25, 26);
}

.listen {
  color: lawngreen;
}

.white {
  color: black;
}

input[type="range"] {
  border: 1px solid white;
  margin-top: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 10px;
  background: rgb(218, 68, 83);
  background: linear-gradient(
    180deg,
    rgba(137, 33, 107, 1) 0%,
    rgba(218, 68, 83, 1) 100%
  );
  font-size: larger;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  font-size: larger;
}

select {
  margin: 10px 100px;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  outline: 0;
  border: 0;
  padding: 0 5px;
}

select:hover {
  color: white;
  background: rgb(218, 68, 83);
  background: linear-gradient(
    180deg,
    rgba(137, 33, 107, 1) 0%,
    rgba(218, 68, 83, 1) 100%
  );
}

select:active {
  color: white;
  background: rgb(218, 68, 83);
  background: linear-gradient(
    180deg,
    rgba(137, 33, 107, 1) 0%,
    rgba(218, 68, 83, 1) 100%
  );
}

.display {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.display .displayText {
  visibility: hidden;
  width: 500px;
  height: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.display .appear {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
